@import "reset.css";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    background: #171717;
}
[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
}
[class*="__bgi"] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
    margin-bottom: 128px;
}
.link-button {
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.link-button span {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding-left: 8px;
}
.link-button:hover {
    background-color: #72603d;
}
.text-heading {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    height: max-content;

}
.text-after-heading {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
#text-first-section {
    margin-top: 41px;
}


.outdoor-networks__bgi {
    background-image: url("../images/header-bg.jpeg");
}
.thermal-works {
    margin-top: 41px;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 27px 34px;
    grid-template-areas:
    'first-box second-box second-box third-box'
    'fourth-box fourth-box fifth-box fifth-box';
}
.thermal-works p {
    padding-left: 44px;
    padding-right: 44px;
}
.thermal-works div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 368px;
}
.first-box {
    grid-area: first-box;
    background: #634F2C;
    width: 367px;
}
.second-box {
    grid-area: second-box;
    background: #B4A385;
    width: 367px;
}
.third-box {
    grid-area: third-box;
    background: #E4B564;
    width: 367px;
}
.fourth-box {
    grid-area: fourth-box;
    background: #635A4A;
}
.fifth-box {
    grid-area: fifth-box;
    background: #B08C4D;
}




.technic__bgi {
    margin-top: 161px;
    margin-bottom: 94px;

    background-image: url("../images/parallax-bg.jpeg");
}
.technic__bgi p {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 52px;
}
.technic__bgi span {
    font-weight: 850;
}
.blocks-technic {
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat(3, 367px);
    grid-template-rows: repeat(35, min-content);
    gap: 24px 30px;

}
.ilosos {
    background: #0E0E0E;
    grid-row: 1/13;
}
.washing {
    background: #242424;
    grid-row: 1/15;
}
.excavator-loader {
    grid-row: 1/12;
    background: #1F1F1F;
}
.loader {
    grid-column: 1/2;
    grid-row: 13/36;
    background: #1F1F1F;
}
.excavator {
    grid-column: 2/3;
    grid-row: 15/33;
    background: #E4B564;
}
.kamaz {
    grid-row: 12/26;
    background: #0E0E0E;
}
.rink {
    grid-row: 26/36;
    background: #0A0909;
}


.projects__bgi {
    background-image: url("../images/parallax-bg.jpeg");
}
.heading-third-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}
.clients-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.clients-projects div {
    width: 390px;
    height: 389px;
}
.clients-projects p {
    align-self: center;
}
.first-pr {
    background: #634F2C;
    display: flex;
    justify-content: center;
}
.second-pr {
    background: rgba(232, 210, 171, 0.76);
    display: grid;
    grid-template-rows: repeat(3, max-content);
    justify-content: center;
    align-content: center;
    align-items: center;

}
#text-logo-mavus {
    padding-top: 16px;
}
.second-pr p {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 80px;
    padding-right: 80px;
}
.second-pr span {
    font-weight: 5;
}
.third-pr {
    background: #E4B564;
    display: flex;
    justify-content: center;
}
.fourth-pr {
    background: #635A4A;
    display: flex;
    justify-content: center;
}
.fifth-pr {
    background: #B08C4D;
    display: flex;
    justify-content: center;
}
.sixth-pr {
    background: #634F2C;
    display: flex;
    justify-content: center;
}
.footer {
    height: 238px;
    background: #0E0E0E;
}
